@if (loading()) {
  <div class="loader"></div>
} @else {
  <form [formGroup]="formGroup">
    <div>
      <label for="englishName"> English Name </label>
      <input name="englishName" formControlName="englishName" />
    </div>
    <div>
      <label for="originalName"> originalName </label>
      <input name="originalName" formControlName="originalName" />
    </div>
    <div>
      <label for="kcal"> kcal </label>
      <input formControlName="kcal" />
    </div>

    <button type="button" [routerLink]="['..', id() - 1]" class="btn">
      ◀
    </button>

    <button type="button" (click)="save()" class="btn">Save</button>

    <button type="button" [routerLink]="['..', id() + 1]" class="btn">
      ▶
    </button>
  </form>
}
