<form>
    <div class="card-grid">
        <div>
            <label for="name">Original Name</label>
            <input [(ngModel)]="originalName" name="originalName">
        </div>
        <div>
            <label for="englishName">English Name</label>
            <input [(ngModel)]="englishName" name="englishName">
        </div>
    </div>
    <div class="mt-10 mb-10">
        <button type="submit" (click)="search()" class="btn btn-primary">Search</button>
        <button type="button" (click)="loadRatings()" class="btn ml-2">Expert Ratings</button>
    </div>
</form>

<div class="mb-10">
    Max Rating: {{ maxRating() }}
</div>

<div class="card-grid">
    @for(dessert of ratedDesserts(); track dessert.id) {
    <app-dessert-card [dessert]="dessert" (ratingChange)="updateRating(dessert.id, $event)"></app-dessert-card>
    }
    @empty {
    <p class="text-lg">Sorry, no desserts found.</p>
    }
</div>