/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

A {
    cursor: pointer;
}

/*
    The following animations are used together with the View Transitions API
    are taken from the examples found here:
    https://developer.chrome.com/docs/web-platform/view-transitions
*/

@keyframes fade-in {
    from { opacity: 0; }
  }
  
  @keyframes fade-out {
    to { opacity: 0; }
  }
  
  @keyframes slide-from-right {
    from { transform: translateX(30px); }
  }
  
  @keyframes slide-to-left {
    to { transform: translateX(-30px); }
  }
  
  ::view-transition-old(root) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
      300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
  }
  
  ::view-transition-new(root) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
      300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
  }


@layer utilities {


    b {
        @apply text-sky-800 font-bold
    }

    p {
        @apply mt-5 mb-5
    }

    h1 {
        @apply text-2xl font-bold
    }

    .title {
        @apply bg-sky-900 p-2 pl-10 text-white text-lg font-bold title-vt;

    }

    .title-vt {
        view-transition-name: title;
    }

    .h-menu-vt {
        view-transition-name: h-menu;
    }

    .product-name-vt {
        view-transition-name: product-name
    }

    .h-menu {
        @apply bg-gray-800 p-2 pl-10 text-white h-menu-vt

    }

    .card-grid {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 p-10
    }

    .content {
        @apply p-10
    }

    .card {
        @apply bg-gray-100 rounded-lg overflow-hidden shadow-md
    }

    .card-title {
        @apply text-xl font-semibold pl-4 pt-4
    }

    .card-subtitle {
        @apply text-lg italic pl-4 pt-4
    }

    .card-text {
        @apply mt-2 text-gray-600
    }

    .card-body {
        @apply p-4
    }

    .card-header {
    }

    .card-title {
    }

    .card-footer {
        @apply flex justify-between p-4
    }

    .btn-primary {
        @apply px-4 py-2 bg-sky-900 text-white rounded hover:bg-sky-600
    }
}
